.footer {
    padding: 30px 0;
    background-color: #000000;
  }
  
  .footer-social {
    max-width: 317px;
    margin: auto;
    margin-bottom: 18px;
    text-align: center;
  }
  
  .icon-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    font-size: 16px;
  }
  
  .social-icon-picture__item a {
    color: #dad9d9;
  }
  
  .copyright {
    margin: auto;
    width: 130px;
  }
  
  .copyright-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
  }