@import url(./process.css);
@import url(./cdn.css);
@import url(./pricing.css);
@import url(./axure.css);
@import url(./testimonials.css);
@import url(./header.css);
@import url(./social.css);
@import url(./footer.css);
@import url(./primary.css);
@import url(./contact.css);
@import url(./features.css);
@import url(./_media.css);

* {
  margin: 0; 
  box-sizing: border-box;  
  padding: 0;
  list-style: none; 
  text-decoration: none; 
}

html {
  background-color: #fff;
  color: #312c2c;
}

.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
}