@import url("./cdn.css");
@import url("./portfolio.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color:#212121;
}

/* .container {
  max-width: 1170px;
  padding: 0 10px;
  margin: auto;
}

.title {
  width: 600px;
  font-size: 36px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
} */

