.primary {
    background-image: url("../img/background-first.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 98px 0 60px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .primary::after {
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .35);
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .primary-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .primary-info {
    z-index: 20;
    position: relative;
  }
  
  .primary-logo {
    margin-bottom: 42px;
    width: 129px; 
    line-height: 70px;
  }
  
  .logo {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .logo__text__color-two {
    color: #EC7979;
  }
  
  .primary-logo__text {
    font-size: 60px;
  }
  
  .primary-heading {
    max-width: 544px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .primary-heading::after {  
    content: '';
    display: block;
    margin: 32px 0 39px 0;
    width: 64px;
    height: 1px;
    background-color: #FFFFFF;  
  }
  
  .heading-title-bgr__text {
    margin: auto;
    max-width: 670px;
    font-size: 36px;
    line-height: 42px;  
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;  
    text-transform: uppercase;
    text-align: center; 
    color: #FFFFFF;  
  }
  
  .heading-title-bgr__text::after {
    content: '';
    display: block;
    margin: auto;
    margin: 34px auto;
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;  
  }
  
  .heading-title-bgr__descript {
    margin: auto;
    margin-bottom: 57px;
    max-width: 780px;
    line-height: 19px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal; 
    text-align: center;     
    color: #FFFFFF;  
  }
  
  .primary-description {
    margin-bottom: 39px;
    max-width: 282px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
  }
  
  .download-link__link {
    display: block;
    border: 1px solid #FFFFFF;
    width: 135px;
    height: 42px;
    padding: 11px 26px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px; 
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    transition: .7s;
  }
  
  .download-link__link:hover{
    background: #EC7979;
    color: rgb(255, 255, 255);
    transition: .4s;
  }
  
  .download-link__link:active {
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: .9s;
  }
  
  .primary-form {
    z-index: 30;
    max-width: 370px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 1px solid transparent;
  }
  
  .primary-form__title {
    width: 370px;
    line-height: 56px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #333333;
  }
  
  .primary-form__title-color-text {
    text-transform: uppercase;
    color: #EC7979;
  }
  
  .primary-form-content {
    padding: 44px 59px 61px 59px;
  }
  
  .primary-form_item {
    display: block;
    margin-bottom: 19px;
  }
  
  .primary-form_item:last-child {
    margin-bottom: 0;
  }
  
  .primary-form-item__input {
    width: 252px;
    padding: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #EC7979;
  }
  
  .form-item__label {
    width: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #BDBDBD;
  }
  
  .form-item__input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
  }
  
  .form-item__input:focus {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: 0;
  }
  
  .primary-send-button {
    width: 100%;  
    line-height: 54px;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .primary-send-button:hover {
    color: #ffffff;
    background-color: #3a3a3a;
    transition: .4s;
    border-top: 1px solid #ffffff;
  }
  
  .primary-send-button:active {
    color: #FFFFFF;
    background-color: #EC7979;
    transition: .9s;
  }
  
  .form-item__textarea {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
  }
  
  .form-item__textarea:focus {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: 0;
  }