.process {
    padding: 80px 0 116px;  
  }
  
  .heading-title__text {
    margin: auto;
    max-width: 670px;
    font-size: 36px;
    line-height: 42px;  
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;  
    text-transform: uppercase;
    text-align: center; 
    color: #212121;  
  }
  
  .heading-title__text::after {
    content: '';
    display: block;
    margin: auto;
    margin: 34px auto;
    width: 64px;
    height: 2px;
    background-color: #E72424;  
  }
  
  .heading-title__descript {
    margin: auto;
    margin-bottom: 68px;
    max-width: 780px;
    line-height: 19px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal; 
    text-align: center;     
    color: #86878B;  
  }
  
  .process-card-wrap { 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 0 -15px; 
  }
  
  .process-card {
    margin: 0 15px;
    max-width: 350px;
    font-family: 'Open Sans';
    text-align: center;
  }
  
  .process-card__img {
    display: flex;
    margin: 0 auto 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #E72424;
    border-radius: 50%;
    width: 70px;
    height: 70px;  
  } 
  
  .process-card__title {
    margin-bottom: 16px;   
    font-size: 20px;
    line-height: 27px; 
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;  
    color: #333333;  
  }
  
  .process-card__text p {
    max-width: 350px;
    font-size: 14px;
    line-height: 19px; 
    font-weight: 400;
    font-style: normal; 
    color: #000000;
  }